<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @cliente.nombre %>
</p>

<p>
  <b>Apellidos:</b>
  <%= @cliente.apellidos %>
</p>

<table>
	<% @cliente.productos.each do |producto| %>
		<tr>
			<td><%= producto.descripcion %></td>
			<td><%= producto.precio %></td>			
		</tr>			
	<% end %>
	<tr>
	<td>Total: </td>
	<td>total</td>
	</tr>
</table>

<p>
  <b>Nro tarjeta:</b>
  <%= @cliente.nro_tarjeta %>
</p>

<%= link_to 'Agregar producto', add_producto_cliente_path(@cliente) %>
<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
